$classicWhite: rgb(255, 255, 255);
$mintGreen: rgb(211, 255, 175);
$lightGreen: rgb(160, 202, 99);
$lightYellow: rgb(250, 240, 176);
$softYellow: rgb(234, 240, 130);
$intenseYellow: rgb(251, 232, 100);
$sunnyYellow: rgb(255, 227, 45);
$lightGrey: rgb(204, 204, 204);
$softGrey: rgb(235, 235, 235);
$stoneBlue: rgb(48, 48, 53);
$darkShadow: rgba(22, 22, 22, 0.986);
$classicBlack: rgb(0, 0, 0);