@import './helpers/colors';

/* Form */
.adopt {
    border: 2px solid $intenseYellow;
    border-radius: 10px;
    margin: 80px auto;
    padding: 1rem 5rem;
    width: 60vw;
    h1 {
        font-size: 3rem;
        letter-spacing: .3rem;
        padding-bottom: 2rem;
        text-align: center;
    }
}

.adopt__form {
    display: flex;
    justify-content: space-between;
}

.adopt__form__register {
    min-width: 300px;
    width: 45%;
}

.adopt__form__register__label {
    border-bottom: 1px solid $lightGrey;
    display: flex;
    margin-top: 1rem;
    img {
        margin: 0 1.5rem .2rem 0;
        width: 30px;
    }
    input {
        border: none;
        outline: none;
    }
}

.adopt__form__summary {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    min-width: 300px;
}

.adopt__form__summary__agree-term {
    width: 45%;
}

.adopt__form__summary__total {
    font-weight: bold;
    width: 45%;
}

.adopt__form__insects {
    width: 45%;
    img {
        width: 35px;
    }
}

.adopt__form__insects__label {
    display: flex;
    margin-top: 1rem;
    span {
        margin: auto .5rem;
        width: 6rem;
    }
    input {
        text-align: center;
        width: 3rem;
    }
}

.adopt__form__button {
    background-color: $intenseYellow;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 2px 6px $lightGrey;
    cursor: pointer;
    display: block;
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin: 2rem auto;
    padding: 1rem 3rem;
    &:hover {
        background-color: $sunnyYellow;
    }
}

@media (max-width: 750px) {
    .adopt {
        margin: 40px auto;
        padding: 2rem;
        width: auto;
        h3 {
            text-align: center;
        }
    }

    .adopt__form {
        flex-wrap: wrap;
    }

    .adopt__form__register {
        margin-bottom: 3rem;
    }

    .adopt__form__insects {
        width: auto;
    }

    .adopt__form__insects__label span  {
        margin: .3rem 0;
        text-align: center;
    }

    .adopt__form__summary {
        flex-wrap: wrap-reverse;
    }

    .adopt__form__summary__agree-term{
        width: 100%;
    }

    .adopt__form__summary__total {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
    }
}