.initiatives {
    border: 3px solid rgb(255, 208, 0);
    border-radius: 10px;
    margin: 20px auto;
    padding: 1rem 5rem;
    width: 60vw;
}

.initiatives h1 {
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
}

.initiatives__boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.initiatives__box {
    display: flex;
    padding: 20px 0;
    width: 385px;
}

.initiatives__box img {
    padding-right: 1.5rem;
    width: 120px;
}

.initiatives__box__text {
    margin: auto 0;
}

/* Adoption Stats */
.adoption-stats {
    background-color: #FBE864;
    padding: 2rem 0;
    text-align: center;
}

.adoption-stats h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.adoption-stats__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 40%;
}

.adoption-stats__container__box p {
    font-weight: bold;
    margin: 0;
}

.adoption-stats__container__box img {
    padding: 1rem 0;
    width: 100px;
}

.adoption-stats__container__box__stat {
    font-size: 2rem;
    letter-spacing: .2rem;
}