.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    font-family: Quicksand;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    letter-spacing: .1rem;
    padding: 0 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(234, 240, 130);
}


